<!doctype html>
<html>
<head>
<title>CodeMirror</title>
<meta charset="utf-8"/>
<script src="../CodeMirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="../CodeMirror/lib/codemirror.css">
<script src="../CodeMirror/mode/udon/udon.js"></script>
<style>
body {
  background: #eee; /* #fff; */
}
/* override codemirror.css */
.CodeMirror {
  height: unset;
  font-size: 20px;
}
</style>
</head>
<body>
<textarea id="udon">THE-SNIP</textarea>
<script>
var udon = CodeMirror.fromTextArea(document.getElementById("udon"), { mode: "udon" });
</script>
</body>
</html>
